html,
body {
    height: 100%;
    background-color: #222d32 !important;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48e248;
}

.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    background: #1a2226 !important;
    border-radius: 10px !important;
}